<h1>Listing connections</h1>

<table class="table table-condensed table-striped">
  <tr>
    <th>Scanname</th>
    <th>Destname</th>
    <th>Destdirectory</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @connections.each do |connection| %>
  <tr>
    <td><%= connection.scanName %></td>
    <td><%= connection.destName %></td>
    <td><%= connection.destDirectory %></td>
    <td><%= connection.site %></td>
    <td><%= link_to 'Show', connection %></td>
    <td><%= link_to 'Edit', edit_connection_path(connection) %></td>
    <td><%= link_to 'Destroy', connection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Connection', new_connection_path %>
