<p id="notice"><%= notice %></p>

<p>
  <b>Remotesite:</b>
  <%= @connection.remoteSite %>
</p>

<p>
  <b>Localname:</b>
  <%= @connection.localName %>
</p>

<p>
  <b>Remotename:</b>
  <%= @connection.remoteName %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
