<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @site.host %>
</p>

<p>
  <b>Protocol:</b>
  <%= @site.protocol %>
</p>

<p>
  <b>Port:</b>
  <%= @site.port %>
</p>

<p>
  <b>Username:</b>
  <%= @site.username %>
</p>

<p>
  <b>Password:</b>
  <%= @site.password %>
</p>

<p>
  <b>Directory:</b>
  <%= @site.directory %>
</p>

<p>
  <b>Passive:</b>
  <%= @site.passive %>
</p>

<p>
  <b>Useipv4:</b>
  <%= @site.useipv4 %>
</p>

<p>
  <b>Timeout:</b>
  <%= @site.timeout %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
